stable-baselines3
optuna
gymnasium[box2d]
gymnasium[atari]
gymnasium[accept-rom-license]
torch
matplotlib
numpy
plotly
deap
tqdm
typing-extensions
ale-py
autorom[accept-rom-license]
opencv-python
psutil
tensorboard
pandas
seaborn
